In [5]:
#1
import pandas as pd 

file = pd.read_csv("Athletes.csv")

print("number of columns: {}".format(len(file.columns)))

print("first: {} ".format(file.columns[0]))

print(file.iloc[:,0])

print("last: {}".format(file.columns[-1]))

number of columns: 16
first: Rank
0     55
1     95
2     60
3     48
4     93
      ..
95    43
96    25
97    84
98    12
99     2
Name: Rank, Length: 100, dtype: int64
last: Description

In [2]:
#2
print("Number of rows: {}".format(len(file)))

Number of rows: 100

In [25]:
#3
file_10 = file.iloc[:,0:10]
print(file_10)

file_10.to_excel("output.xlsx")

    Rank                Name       Sport    Total Pay Salary/Winnings  \
0     55       Aaron Rodgers    Football  $22,000,000     $14,500,000
1     95          Adam Scott        Golf  $17,700,000      $8,700,000
2     60     Adrian Gonzalez    Baseball  $21,500,000     $21,100,000
3     48      Alex Rodriguez    Baseball  $22,900,000     $22,600,000
4     93     Alfonso Soriano    Baseball  $18,050,000     $18,000,000
..   ...                 ...         ...          ...             ...
95    43        Wayne Rooney      Soccer  $23,400,000     $18,400,000
96    25  Wladimir Klitschko      Boxing  $28,000,000     $24,000,000
97    84       Zach Randolph  Basketball  $18,800,000     $18,300,000
98    12  Zlatan IbrahimoviÄ‡      Soccer  $40,400,000     $36,400,000
99     2   Cristiano Ronaldo      Soccer  $80,000,000     $52,000,000

   Endorsements              Nation Gender  Year of birth  Birth Date
0    $7,500,000       United States   Male           1983   2/12/1983
1    $9,000,000           Australia   Male           1980  16/07/1980
2      $400,000       United States   Male           1982   8/05/1982
3      $300,000       United States   Male           1975  27/07/1975
4       $50,000  Dominican Republic   Male           1976   7/01/1976
..          ...                 ...    ...            ...         ...
95   $5,000,000             England   Male           1985  24/10/1985
96   $4,000,000             Ukraine   Male           1976  25/03/1976
97     $500,000       United States   Male           1981  16/07/1981
98   $4,000,000              Sweden   Male           1981   3/10/1981
99  $28,000,000            Portugal   Male           1985   5/02/1985

[100 rows x 10 columns]

In [4]:
#5
print(file_10.dtypes["Sport"])

file_10 = file_10.astype({"Sport": str})

print(file_10.dtypes["Sport"])

#the data type of column Sport is str but displayed as object, 
#and I can't think in a better type for a this column

object
object

In [5]:
#4
print(file_10.set_index("Name").head(2))

               Rank     Sport    Total Pay Salary/Winnings Endorsements  \
Name
Aaron Rodgers    55  Football  $22,000,000     $14,500,000   $7,500,000
Adam Scott       95      Golf  $17,700,000      $8,700,000   $9,000,000

                      Nation Gender  Year of birth  Birth Date
Name
Aaron Rodgers  United States   Male           1983   2/12/1983
Adam Scott         Australia   Male           1980  16/07/1980

In [57]:
#6
print("Number of non repeated Sports: {}\n".format(file_10["Sport"].
                                                    nunique()))#number of non duplicated elements
print("Non repeated elements on the Sorts columns: ")
for i in file_10["Sport"].unique():print("{}".format(i),sep='')

print("\nMost frequent Sport: {}".format(file_10["Sport"].
                                              value_counts().
                                                idxmax()))

Number of non repeated Sports: 10

Non repeated elements on the Sorts columns:
Football
Golf
Baseball
Basketball
Boxing
Racing
Soccer
Tennis
Cricket
Track

Most frequent Sport: Baseball

In [9]:
#7
file_7 = file_10.filter(["Name","Nation","Sport"],axis=1).set_index("Nation").head(7)
#file_7 = file_7.set_index("Nation").head(7)
print(file_7)

print(file_7.sort_index(axis=0))

print("\nSports that the frist 7 pratice: ")
for i in file_7["Sport"].unique():print("{}".format(i),sep='')

                                 Name       Sport
Nation
Australia                  Adam Scott        Golf
Dominican Republic    Alfonso Soriano    Baseball
United States           Aaron Rodgers    Football
United States         Adrian Gonzalez    Baseball
United States          Alex Rodriguez    Baseball
United States       Amar'e Stoudemire  Basketball
United States              Barry Zito    Baseball

Sports that the frist 7 pratice:
Football
Golf
Baseball
Basketball

##

In [26]:
#8
print("Type of data on salary columns: {}\n".format(file_10.dtypes["Salary/Winnings"]))


#retira os caracteres que n sao numeros
file_10["Salary/Winnings"] = file_10["Salary/Winnings"].str.replace('$','',regex=False)

file_10["Salary/Winnings"] = file_10["Salary/Winnings"].str.replace(',','',regex=False)
print(file_10["Salary/Winnings"])




file_10["Salary/Winnings"] = file_10["Salary/Winnings"].astype(float).astype(int)

print("Type of data on salary columns: {}\n".format(file_10.dtypes["Salary/Winnings"]))

print("The 3 atlhetes with greater yield are:\n{}".format(file_10.filter(["Name","Salary/Winnings"],axis=1).
                                                                  set_index("Name").
                                                                      nlargest(3,"Salary/Winnings")))

Type of data on salary columns: object

0     14500000
1      8700000
2     21100000
3     22600000
4     18000000
        ...
95    18400000
96    24000000
97    18300000
98    36400000
99    52000000
Name: Salary/Winnings, Length: 100, dtype: object
Type of data on salary columns: int64

The 3 atlhetes with greater yield are:
                   Salary/Winnings
Name
Floyd Mayweather         105000000
Cristiano Ronaldo         52000000
Matt Ryan                 42000000

In [71]:
#9
print("Rendimento medio global: ${}\n".format(
                                            file_10["Salary/Winnings"].sum()
                                            //len(file_10["Salary/Winnings"])))

salary_w = file_10.filter(["Salary/Winnings","Gender"])
counter= 0

#get the number of males on the files
for i in salary_w["Gender"]:
    if i =="Male":counter+=1
    
#get the medium yield of males
salary_w = salary_w.set_index("Gender")
print("Rendimento medio dos homens: ${}\n".format(salary_w._get_value("Male","Salary/Winnings").
                                                sum()//counter),end="\n")
print("Rendimento medio das mulheres: ${}\n".format(salary_w._get_value("Female","Salary/Winnings").sum()
                                                     //len(salary_w)-counter))

salary_s = file_10.filter(["Salary/Winnings","Sport"])

names = salary_s["Sport"].unique() #names

values = salary_s["Sport"].value_counts()#values

salary_s = salary_s.set_index("Sport")

for i in range(len(names)):
    print("Medio do(s) rendimento(s) em {}: {}\n".format(names[i],salary_s._get_value(names[i],"Salary/Winnings").
                                                       sum()//values[i]))

Rendimento medio global: $20099000

Rendimento medio dos homens: $20524742

Rendimento medio das mulheres: $189903

Medio do(s) rendimento(s) em Football: 12607407

Medio do(s) rendimento(s) em Golf: 2355555

Medio do(s) rendimento(s) em Baseball: 32664705

Medio do(s) rendimento(s) em Basketball: 23680000

Medio do(s) rendimento(s) em Boxing: 31583333

Medio do(s) rendimento(s) em Racing: 20266666

Medio do(s) rendimento(s) em Soccer: 70300000

Medio do(s) rendimento(s) em Tennis: 12450000

Medio do(s) rendimento(s) em Cricket: 4000000

Medio do(s) rendimento(s) em Track: 200000

In [84]:
#10
from pandas.core.base import PandasObject

def get_ndf(df,n):
    new_df = pd.DataFrame() #new_df = []
    print(new_df)
    for i in range(len(df)):
        value =df.iloc[i]['Salary/Winnings']
        if value>n:
            new_df = pd.concat([new_df,df.filter(["Name","Salary/Winnings","Total Pay"]).iloc[i]])
    return new_df

PandasObject.get_ndf = get_ndf

print(file_10.get_ndf(70000000))

Empty DataFrame
Columns: []
Index: []
                                0
Name             Floyd Mayweather
Salary/Winnings         105000000
Total Pay            $105,000,000