In [3]:
#1
import pandas as pd 

file = pd.read_csv("Athletes.csv")

print("number of columns: {}".format(len(file.columns)))

print("frist: {}".format(file.columns[0]))

print("last: {}".format(file.columns[-1]))

number of columns: 16
frist: Rank
last: Description

In [9]:
#2
print("Number of rows: {}".format(len(file)))

Number of rows: 100

In [20]:
#3
file_10 = file.iloc[:,0:10]

file_10.to_excel("output.xlsx")

In [25]:
#4
print(file_10.set_index("Name").head(5))

                 Rank     Sport    Total Pay Salary/Winnings Endorsements  \
Name
Aaron Rodgers      55  Football  $22,000,000     $14,500,000   $7,500,000
Adam Scott         95      Golf  $17,700,000      $8,700,000   $9,000,000
Adrian Gonzalez    60  Baseball  $21,500,000     $21,100,000     $400,000
Alex Rodriguez     48  Baseball  $22,900,000     $22,600,000     $300,000
Alfonso Soriano    93  Baseball  $18,050,000     $18,000,000      $50,000

                             Nation Gender  Year of birth  Birth Date
Name
Aaron Rodgers         United States   Male           1983   2/12/1983
Adam Scott                Australia   Male           1980  16/07/1980
Adrian Gonzalez       United States   Male           1982   8/05/1982
Alex Rodriguez        United States   Male           1975  27/07/1975
Alfonso Soriano  Dominican Republic   Male           1976   7/01/1976

In [6]:
#5
print(file_10.dtypes["Sport"])

file_10 = file_10.astype({"Sport": str})

print(file_10.dtypes["Sport"])

#the data type of column Sport is str but displayed as object, 
#and I can't think in a better type for a this column

object
object

In [62]:
#6
print("Number of non repeated Sports: {}\n".format(file_10["Sport"].
                                                    nunique()))#number of non duplicated elements
print("Non repeated elements on the Sorts columns: ")
for i in file_10["Sport"].unique():print("{}".format(i),sep='')

print("\nMost frequent Sport: {}".format(file_10["Sport"].
                                              value_counts().
                                                idxmax()))

Number of non repeated Sports: 10

Non repeated elements on the Sorts columns:
Football
Golf
Baseball
Basketball
Boxing
Racing
Soccer
Tennis
Cricket
Track

Most frequent Sport: Baseball

In [79]:
#7
file_7 = file_10.filter(["Name","Nation","Sport"], axis=1).set_index("Nation").head(7)

#file_7 = file_7.set_index("Nation").head(7)

print(file_7.sort_index(axis=0))

print("\nSports that the frist 7 pratice: ")
for i in file_7["Sport"].unique():print("{}".format(i),sep='')

                                 Name       Sport
Nation
Australia                  Adam Scott        Golf
Dominican Republic    Alfonso Soriano    Baseball
United States           Aaron Rodgers    Football
United States         Adrian Gonzalez    Baseball
United States          Alex Rodriguez    Baseball
United States       Amar'e Stoudemire  Basketball
United States              Barry Zito    Baseball

Sports that the frist 7 pratice:
Football
Golf
Baseball
Basketball

In [86]:
#8

print("Type of data on salary columns: {}\n".format(file_10.dtypes["Salary/Winnings"]))

file_10["Salary/Winnings"] = file_10["Salary/Winnings"].astype(float).astype(int)

print("Type of data on salary columns: {}\n".format(file_10.dtypes["Salary/Winnings"]))

Type of data on salary columns: object

ValueError: could not convert string to float: '$14,500,000'

##